!!! 5
html
  head
    title Get the favicon from anysite you given
  body 
    h1 取得网站的favicon    
    p 示例：http://favicon.xyudu.com/fav/www.google.com
    img(src="http://favicon.xydudu.com/fav/www.baidu.com")
    img(src="http://favicon.xydudu.com/fav/google.com")
    img(src="http://favicon.xydudu.com/fav/http://www.tudou.com")
    img(src="http://favicon.xydudu.com/fav/twitter.com")
    img(src="http://favicon.xydudu.com/fav/facebook.com")
    img(src="http://favicon.xydudu.com/fav/www.youtube.com")
    p -----------------------
    p 
      a(href="https://github.com/xydudu/favicon-service") github.com
    p 
      a(href="https://xydudu.com") xydudu.com

  

    

