!!! 5
html
  head
    title Get the favicon from anysite you given
  body 
    h1 取得网站的favicon    
    p 示例：http://yourservice/fav/www.google.com
    -for ( var i in files )
      img(src="http://"+ domain +"/cache/"+ files[i])

    p -----------------------
    p 
      a(href="https://github.com/xydudu/favicon-service") github.com
    p 
      a(href="https://xydudu.com") xydudu.com

  

    

